{% extends "base.html" %}
{% from "macros.html" import product_panel with context %}

{% block title %}
    {{ super() }}
    Home
{% endblock %}

{% block header %}
    <div id="header-img">
        <img class="img-responsive" src="{{ category.header_picture }}" alt="Imagem da categoria">
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ category.name }}</h1>
        </div>
        {% for product in products %}
            {{ product_panel(category.id_, product) }}
        {% endfor %}
    </div>
{% endblock %}

